<header>
  <label class="logo_text">ClassTime</label>
</header>
<main>
  <div class="container main_container">
    <div class="row">
      <div class="col-6">
        <div class="login_container">
          <label>
            <h4>Sign in</h4>
          </label>
          <form (ngSubmit)="onSignIn(f)" #f="ngForm" [formGroup]="loginFormGroup">
            <mat-form-field>
              <input matInput formControlName="username" name="username" placeholder="Username" readonly onfocus="this.removeAttribute('readonly');" />
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput formControlName="password" name="password" placeholder="password" type="password" />
            </mat-form-field>
            <div class="row">
              <div class="col-6">

              </div>
              <div class="col-6 text-right">
                <button [disabled]="!loginFormGroup.valid || isSigningIn" mat-raised-button color="primary">
                  <div style="width: 50px; height: 35px; overflow: hidden;">
                    <span *ngIf="!isSigningIn">Sign in </span>
                    <div class="d-inlin-block pt-2 pl-3">
                      <mat-spinner *ngIf="isSigningIn" [diameter]="20"></mat-spinner>
                    </div>
                  </div>

                </button>
              </div>
            </div>
            <a href="">Forget Password</a>
          </form>
        </div>
      </div>
      <div class="col-6">

      </div>
    </div>
  </div>
</main>
<footer class="page-footer font-small stylish-color-dark pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Content -->
        <h5 class="font-weight-bold mt-3 mb-4">ClassTime</h5>
        <p>Here we make the School a more interacive place for Teachers, students and parents.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold mt-3 mb-4">About Us</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">ClassTime Blog</a>
          </li>
          <li>
            <a href="#!">About</a>
          </li>
          <li>
            <a href="#!">News</a>
          </li>
          <li>
            <a href="#!">Jobs</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold mt-3 mb-4">Support</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Help Center</a>
          </li>
          <li>
            <a href="#!">Contact Us</a>
          </li>
          <li>
            <a href="#!">Copyright</a>
          </li>
          <li>
            <a href="#!">Privacy & Terms</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold mt-3 mb-4">Community</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Forum</a>
          </li>
          <li>
            <a href="#!">Refferals</a>
          </li>
          <li>
            <a href="#!">Twitter</a>
          </li>
          <li>
            <a href="#!">Facebook</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <hr>

  <!-- Call to action -->
  <ul class="list-unstyled list-inline text-center py-2">
    <li class="list-inline-item">
      <h5 class="mb-1">Register for free</h5>
    </li>
    <li class="list-inline-item">
      <a href="#!" class="btn btn-danger btn-rounded">Sign up!</a>
    </li>
  </ul>
  <!-- Call to action -->

  <hr>

  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a class="btn-floating btn-fb mx-1">
        <i class="fab fa-facebook-f"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-tw mx-1">
        <i class="fab fa-twitter"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-gplus mx-1">
        <i class="fab fa-google-plus-g"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-li mx-1">
        <i class="fab fa-linkedin-in"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-dribbble mx-1">
        <i class="fab fa-dribbble"> </i>
      </a>
    </li>
  </ul>
  <!-- Social buttons -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://classtime.com/education/bootstrap/"> ClassTime</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->